#footer_container{
    position: relative;
    height: 45vh;
    
    padding-top: 5vh;
    
    color: #61dafb;
    background-color: #0B172A;
}

#Contact_container{
    position: relative;
    display: flex;
    overflow: auto;

    width: auto;
    height: auto;

    align-items: center;
    justify-content: center;
}

.contact{
    text-align: center;

    margin-left: 5px; 
    margin-right: 5px; 

    width: 3rem; 
    height: 3rem;

    background-color: #61dafb; 
    color: #0B172A; 

    border: 1px solid #0B172A; 
    border-radius: 50%;
}

.contact:hover{
    background-color: #0B172A; 
    color: #61dafb; 
    border: 1px solid #61dafb;
}

.contact i{
    position: relative;

    font-size: 1.5rem;

    top: 50%;
    transform: translateY(-50%);
}

#Copyright{    
    text-align: center;
    bottom: 0vh;

    background-color: #0B172A;
}

@media screen and (max-width: 768px) {
    #footer_container{
        height: 30vh;
    }
}